.card{
    display: flex;
    margin: auto;
    width: 70%;
    margin-bottom: 3rem;
    box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.3);
    border: 1px solid rgba(10, 10, 10, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.character-info{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 80%;
}

.enlace{
    align-self: center;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
}

.enlace:hover{
    cursor: pointer;
    color: orange;
}

.status{
    margin: 1rem 0;
}